{:source-paths ["src"]

 :dependencies [[binaryage/devtools "0.9.10"]
                [proto-repl "0.3.1"]
                [reagent "0.8.0"]
                [cljsjs/classnames "2.2.5-1"]
                [cljsjs/react-input-autosize "2.2.1-1"]
                [cljsjs/react-select "1.2.1-1"]]

 :nrepl        {:port 3333}

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "/js"

        :modules
        {:main
         {:entries [app.core]}}

        :devtools
        {:http-root   "public"
         :http-port   3010}}}}
